# Exercises

In [3]:
import pandas as pd
import numpy as np

### Exercise 1
Create a Pandas DataFrame from a dictionary. The dictionary keys should be Crop, Yield_per_Acre, and Country, and the values should be lists, as shown in the data below:

- Crop: ['Wheat', 'Corn', 'Rice', 'Soybean']
- Yields per Acre (in tons): [3, 4.5, 5, 2.8]
- Country: ['USA', 'China', 'India', 'Brazil']

```python
# Your solution here...
```

In [4]:
agri_data = {
    'Crop' : ['Wheat', 'Corn', 'Rice', 'Soybean'],
    'Yield_per_Acre' : [3, 4.5, 5, 2.8],
    'Country' : ['USA', 'China', 'India', 'Brazil']
}

agri_df = pd.DataFrame(agri_data)
agri_df

      Crop  Yield_per_Acre Country
0    Wheat             3.0     USA
1     Corn             4.5   China
2     Rice             5.0   India
3  Soybean             2.8  Brazil

### Exercise 2
Using the DataFrame we created in Exercise 1, return only observations for index values 1 and 2 from the dataset.
```python
# Your solution here...
```

In [8]:
agri_df.iloc[1 : 3]

   Crop  Yield_per_Acre Country
1  Corn             4.5   China
2  Rice             5.0   India

### Exercise 3
Using the NumPy library, create a 3x2 array named tree_array to store information for different tree species as follows:
[[30, 25], [60, 30], [25, 20]]

Use the array to create a DataFrame with the following columns: Max_Height_m, and Growth_Rate_cm_per_year, and the following index: Maple, Pine and Birch.
```python
# Your solution here...
```

In [11]:
import numpy as np

tree_array = np.array([[30, 25], [60, 30], [25, 20]])
column = ['Max_Height_m', 'Growth_Rate_cm_per_year']
index = ['Maple', 'Pine', 'Birch']

tree_df = pd.DataFrame(tree_array, columns=column, index=index)
tree_df

       Max_Height_m  Growth_Rate_cm_per_year
Maple            30                       25
Pine             60                       30
Birch            25                       20

### Exercise 4
Using the DataFrame we created in Exercise 3, display the Max_Height_m and Growth_Rate_cm_per_year columns for the Pine tree.
```python
# Your solution here...
```

In [15]:
tree_df.loc['Pine'][['Max_Height_m', 'Growth_Rate_cm_per_year']]

Max_Height_m               60
Growth_Rate_cm_per_year    30
Name: Pine, dtype: int32

### Exercise 5
We have a dataset named Animals.csv that stores information about a variety of animal species. Use Pandas to load the CSV file into a DataFrame called animals_df.

Display the first 5 rows of the DataFrame.

NB: Use this link to access the dataset: https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/Python/Animals.csv
```python
# Your solution here...
```

In [17]:
animals_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/Python/Animals.csv')
animals_df.head()

,Species,Average Lifespan (Years),Habitat,Conservation Status
0,African Elephant,60,Grasslands,Vulnerable
1,Bengal Tiger,15,Forests,Endangered
2,Blue Whale,80,Ocean,Endangered
3,Giant Panda,20,Temperate Forest,Vulnerable
4,Komodo Dragon,30,Islands,Vulnerable

### Exercise 6
Using the DataFrame we have created in Exercise 5, access and display information on animals that are listed as Critically Endangered in the Conservation Status column.
```python
# Your solution here...
```

In [19]:
Critically_endangered = animals_df[animals_df['Conservation Status'] == 'Critically Endangered']
Critically_endangered

     Species  Average Lifespan (Years)      Habitat    Conservation Status
9  Orangutan                        35  Rainforests  Critically Endangered